.fondo{
    background-image: url('../img/contacto/bannerContactanos.jpg'); 
    background-size: cover; 
    background-position: center center; 
    height: 400px;
}

/*header transparente*/
.navbar-blur {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.247);
}